
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 150 11% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 153 19% 47%;
    --primary-foreground: 153 20% 98%;
    --secondary: 150 10% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 150 10% 90%;
    --muted-foreground: 224 71.4% 4.1% / 0.5;
    --accent: 47 43% 39%;
    --accent-foreground: 47 43% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 10% 88%;
    --input: 150 10% 88%;
    --ring: 153 19% 47%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 150 11% 95%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 150 11% 95%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 150 11% 95%;
    --primary: 153 19% 47%;
    --primary-foreground: 153 20% 98%;
    --secondary: 224 71.4% 4.1% / 0.5;
    --secondary-foreground: 150 11% 95%;
    --muted: 224 71.4% 4.1% / 0.5;
    --muted-foreground: 150 11% 95% / 0.5;
    --accent: 47 43% 39%;
    --accent-foreground: 47 43% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 11% 95% / 0.1;
    --input: 150 11% 95% / 0.1;
    --ring: 153 19% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .resume-preview-container {
    @apply p-4 bg-background;
  }
  .resume-preview {
      color: hsl(var(--foreground));
      width: 8.5in;
      min-height: 11in;
      margin: 0 auto;
  }
}
